<template>
  <div class="guessingGame">
    <div contenteditable="true">I'm Editable. Edit me!</div>
    <button v-on:click="startQuiz()"></button>
  </div>
</template>

<script>
//     <router-link to="/GamePlay" tag="div">Click to start</router-link>
export default {
  name: 'GameMenu',
  methods: {
    startQuiz() {
      this.$router.push('/GamePlay')
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>