<template>
  <div class="guessingGame">
    <div class="question">Helslo</div>
    <div class="option"></div>
    <div>
      <strong>{{this.questions[this.currentQuestion].question}}</strong>

    <div v-if="this.question_type === 'boolean'">
      <input type="radio" name="currentQuestion" id="trueAnswer" v-model="answer" value="True"><label for="correct_answer">True</label><br/>
      <input type="radio" name="currentQuestion" id="falseAnswer" v-model="answer" value="False"><label for="incorrect_answer">False</label><br/>
    </div>
    
    <div v-if="this.question_type === 'multiple'">
    <div v-bind:key="index" v-for="(incorrect_answers, index) in incorrect_answer">
      <input
      type="radio"
      :id="'falseAnswer'+index"
      name="currentQuestion" v-model="answer"
      value="incorrect_answer">
      <label :for="'incorrect_answer'+index">{{incorrect_answer[index]}}</label><br/>
    </div>
    </div>

    
  </div>
  </div>
</template>

<script>
const quizData = 'https://opentdb.com/api.php?amount=10'
export default {
  data(){
    return{
  name: 'GamePlay',
  questions: [],
  answer: [],
  currentQuestion: 0,
  correct_answer: 0,
  incorrect_answer: [],
  question_type: 0,
  questionlist: [],
  

  }
},

created () {
  fetch(quizData)
  .then(res => res.json())
  .then(res => {
    this.questions = res.results;
    this.questionlist = res.results[this.currentQuestion].question;
    this.incorrect_answer = (res.results[this.currentQuestion].incorrect_answers);
    this.correct_answer = (res.results[this.currentQuestion].correct_answer);
    this.question_type =(res.results[this.currentQuestion].type);
    
  })
  

}
}



</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>