<template>
  <div class="guessingGame">
    <div class="question">Hello</div>
    <div class="option"></div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
  </div>
</template>

<script>
export default {
  name: 'QuizQuestion'
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>