<template>
  <div id="app">
    <router-link to="/GameMenu"></router-link>
    <router-link to="/GamePlay"></router-link>
    <router-link to="/GameOver"></router-link>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  beforeCreate() {
    this.$router.push('/GameMenu')
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
}

.guessingGame {
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-auto-rows: minmax(100px, auto)
}



</style>
